<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
          <th>Vertices</th>
      </tr>
    </thead>
    <tbody>
        <% vertices.each do |vertex| %>
        <tr>
          <td><%= vertex.name %></td>
      <tr>
        
      </tr>
      <% end %>
    </tbody>
  </table>
</div>