<div class="navbar">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a href="/graphs">Grafo</a>
        </li>
        <li>
            <a href="/vertices">Vértices</a>
        </li>
        <li>
            <a href="/edges">Arestas</a>
        </li>
    </ul>
</div>